body {
    background-color: #6688ad;
    font-family: Roboto, "Lato", Helvetica, Arial, sans-serif;
    font-weight: 300;
    color: #f9f9f9;
    padding: 2rem 0;
}

.btn-default {
    background-color: #cccccc;
}

.vue-logo {
    display: inline-block;
    width: 28px;
    margin-right: 4px;
}

.note {
    background-color: #f9f9f9;
    color: #333333;
    margin-bottom: 15px;
    padding: 10px 0;
    border-top: solid 8px #f9f9f9;
}

.note h2, .note h3 {
    font-size: 1rem;
}

.done {
    background-color: #ccc;
}
.done .note-heading {
    text-decoration: line-through;
}
.done .btn-success {
    transform: rotate(180deg);
}

.note-todo {
    border: solid 1px #edf1f3;
    padding: 6px 10px;
    margin: 5px 0;
    background-color: #edf1f3;
}
.note-todo:hover {
    cursor: pointer;
}

.note-todo.done {
    background-color: #ccaeae;
    border-color: #ccaeae;
    text-decoration: line-through;
}

.note-footer {
    font-size: 0.6rem;
    border-top: solid 1px #ccc;
    padding-top: 8px;
    margin-top: 5px;
}

/* tag highlighting */
.note.danger {
    border-color: #dc3545;
}

.note.success {
    border-color: #28a745;
}

.note.primary {
    border-color: #007bff;
}

.note.info {
    border-color: #17a2b8;
}

.note.default {
    border-color: #cccccc;
}

.note.warning {
    border-color: #ffc107;
}


/*
Add icon-font
 */
@charset "UTF-8";

@font-face {
    font-family: "vuemynotes";
    src: url("fonts/vuemynotes.eot");
    src: url("fonts/vuemynotes.eot?#iefix") format("embedded-opentype"),
    url("fonts/vuemynotes.woff") format("woff"),
    url("fonts/vuemynotes.ttf") format("truetype"),
    url("fonts/vuemynotes.svg#vuemynotes") format("svg");
    font-weight: normal;
    font-style: normal;

}

[data-icon]:before {
    font-family: "vuemynotes" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "vuemynotes" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-trash:before {
    content: "\61";
}

.icon-pen:before {
    content: "\62";
}

.icon-like:before {
    content: "\63";
}

.icon-tag:before {
    content: "\64";
}

.icon-plus:before {
    content: "\65";
}

.icon-minus:before {
    content: "\66";
}

.icon-check:before {
    content: "\67";
}

/* icon alignment fixing */
.input-group-text, .btn-sm {
    line-height: 0.5;
}

.btn-sm {
    padding: .5rem;
    margin-bottom: 3px
}
